* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    width: 800px;  
    margin: auto;
    background: #fff5e4;
}

.header {
    display: flex;
    background-color: #fde2b2;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    height: 200px;
}

.profile-image img {
    border-radius: 8px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 40px;
}

.profile-info h1 {
    margin-top: 20px;
    font-size: 36px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 5px; 
}

.profile-info h2 {
    font-size: 22px; 
    color: #4a4a4a;
    margin: 5px 0;
}

.profile-info p {
    
    font-size: 16px; 
    color: #4a4a4a;
    margin-top: 20px;
}
.profile-info i{
    margin: 6px;
}

.profile-info a {
    color: #050505;
    text-decoration: none;
}

.profile-info a:hover {
    text-decoration: none;
    color:#696969;
    font-size: 17px;
}
/******MAIN********/
.main{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
/************Skils*********/
.skills{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.skills-section {
    width: 250px;
    border-radius: 8px;
    margin: 0 auto;
}

h2 {
    
    margin-bottom: 20px;
    color: #333;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}
.segments {
    display: flex;
    gap: 4px; 
}
.segment-container {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: none;
    gap: 4px;
}
.segment {
    width: 70px; 
    height: 5px;
    border-radius: 20px; 
    background: #dcdcdc; 
}

.segment.filled {
    background: #1a1a1a; 
}
.segment.label{
    font-size: 12px; 
    color: #e1e1e1db; 
    background: none;
}
.segment.label.active{
    font-size: 12px; 
    color: #515151; 
    background: none;
}
/****Languages****/
.lang-section {
    width: 250px;
    border-radius: 8px;
    margin: 0 auto;
}

h2 {
    
    margin-bottom: 20px;
    color: #333;
}

.lang {
    margin-bottom: 15px;
}

.lang span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #333;
}
.segments-lang {
    display: flex;
    gap: 7px; 
}
.segment-lang-container {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: none;
    gap: 4px;
}
.segment-lang {
    width: 30px; 
    height: 5px;
    border-radius: 20px; 
    background: #dcdcdc; 
}

.segment-lang.filled {
    background: #1a1a1a; 
}
.segment-lang.label{
    font-size: 12px; 
    color: #e1e1e1db; 
    background: none;
}
.segment-lang.label.active{
    font-size: 12px; 
    color: #515151; 
    background: none;
}
/****Education****/

.education h4 {
    color:#333;
    margin-top: 15px;
}
.education p {
    color: #4a4a4a;
    margin-top: 5px;
}
.education ul {
    color: #4a4a4a;
    margin: 10px;
    margin-left: 30px;
}
/****Courses****/

.courses h1{
    margin-top: 30px;
}

.courses ul {
    color:#333;
    margin-top: 15px;
    margin-left: 30px;
}

/****Experience****/

.experience h1{
    margin-top: 30px;
}
.experience p{
    color: #4a4a4a;
    margin-top: 15px;
}
/****Achievements****/
.achievements h1 {
    margin-top: 30px;
}
.achievements ul {
    color: #4a4a4a;
    margin-top: 15px;
    margin-left: 30px;
}
.achievements li {
    margin-top: 5px;
}

/****Personal-qualities****/
.personal-qualities h1 {
    margin-top: 30px;
}
.personal-qualities ul{
    margin: 10px;
    margin-left: 30px;
}
.personal-qualities li {
    margin-top: 5px;
}
/****Footer****/
footer {
    background-color: #222;
    color:  #aaa;
    padding-top: 40px;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 20px;
}
.footer-social h4{
    color: #fde2b2;
    margin: 20px;
}
.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social-links a{
    margin: 20px;
    color: #fde2b2;
    outline: none;
    text-decoration: none;
}
.social-links i{
    font-size: 32px;
}
.social-links a:hover{
    color: #ae9262;
}
.footer-bottom{
    margin: auto;
    color:  #aaa;;
}
